body {
  margin: 0;
}

h1 {
  font-family: cursive;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 60%;
  margin: auto;
}

li {
  margin-bottom: 2.2rem;
}

i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: steelblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/******************************** Media Queries *************************************/
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  ul {
    max-width: 90%;
  }

  a {
    font-size: 1.4rem;
  }
}
